@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 34 71% 88%;
    --foreground: 0 0% 0%;

    --card: 34 71% 88%;
    --card-foreground: 0 0% 0%;

    --popover: 34 71% 88%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 34 71% 88%;

    --secondary: 0 0% 0% / 0.5;
    --secondary-foreground: 34 71% 88%;

    --muted: 34 71% 88%;
    --muted-foreground: 0 0% 0%;

    --accent: 24 64% 66%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 1;
}
